

#cabecario
{
width: 1910.0px;
height: 249.0px;
font-family: Roboto-Regular;
font-size: 13.333334px;
text-align: center;
color: #434343;
background-color: #282828;

}

.conteudo{
    /*cor de fundo*/
    background-color: #367bdf;
    color:#000000;
    height:20px;
    margin-top: 20px;
}

.botao{
 width: 150.0px;
height: 50.0px;
font-family: Arial;
font-size: 13.333334px;
font-weight: 400;
color: #FFF8DC;
background-color: #191616;
border: 1px solid #707070;
}



.dados{
width: 244.0px;
height: 52.0px;
font-family: Arial Black;
font-size: 20.0px;
font-weight: 400;
color: #000000;
}


.entrada{
width: 710.6455078124993px;
height: 42.99999999999994px;
font-family: OpenSans-Light;
font-size: 24.0px;
color: #434343;
background-color: #FBF8F8;
border: 1px solid #DDDDDD;
border-radius: 1px;
padding-top: 3px;
padding-right: 7px;
padding-bottom: 2px;
padding-left: 12px;

}

.tela_login{
    background-color: #2f5a9e;
    width: 910px;
    height: 400px;
    margin: 150px;
    padding: 20px;
    margin: 20px 0;
    margin-top:40px;
    margin-right: 500px;
    margin-left: 500px;
}



.dados-login{
    width: 244.0px;
height: 52.0px;
font-family: Arial Black;
font-size: 20.0px;
font-weight: 400;
color: #000000;

}

.entra-login{

width: 350.6455078124993px;
height: 42.99999999999994px;
font-family: OpenSans-Light;
font-size: 24.0px;
color: #434343;
background-color: #FBF8F8;
border: 1px solid #DDDDDD;
border-radius: 1px;
padding-top: 3px;
padding-right: 7px;
padding-bottom: 2px;
padding-left: 12px;


}

.botao-login{

width: 100.0px;
height: 30.0px;
font-family: Arial;
font-size: 13.333334px;
font-weight: 400;
color: #FFF8DC;
background-color: #191616;
border: 1px solid #707070;
text-orientation: center;

}

